.btn-start {
  background: linear-gradient(140.14deg, #0e307a 15.05%, #0e307a 114.99%)
      padding-box,
    linear-gradient(142.51deg, #214fb3 8.65%, #0e307a 88.82%) border-box;
  border-radius: 7px;
  border: 2px solid transparent;

  text-shadow: 1px 1px 1px #00000040;
  box-shadow: 8px 8px 20px 0px #45090059;

  margin-top: 20px;
  padding: 10px 40px;
  line-height: 20px;
  transition: all 0.3s;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
  
.btn-start:hover {
  box-shadow: none;
  opacity: 80%;
}
